@define-color background #2C2A24;
@define-color border #D08B57;
@define-color text #DDD5C4;

* {
  font-family: JetbrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: @text;
}

#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 5px 0 5px 5px;
  padding: 0 15px 0 15px;
  border: 2px solid @border;
  border-radius: 2px;
  background: @background;
}


#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#workspace {
  padding: 0 5px;
  color: @text;
}

#battery {
  color: darkgreen;
}

#battery.good {
  color: green;
}

#battery.warning {
  color: yellow;
}

#battery.critical {
  color: red;
}

#window.empty {
  padding: 0 0;
  background: red;
}
